html { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eff5fa;
    color:  #152969;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    scroll-behavior: smooth;
    
}


img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.smaller {
    width: 95%;
    height: 95%;
} 

.thumb {
    max-width: 250px;
    max-height: 250px;
}

.head { 
    padding-top: 10px;
    min-height: 200px;
    max-height: 200px;
    padding-bottom: 10px;
    display: block;
}

.container { 
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.float-l { 
    float: left;
}
.float-r { 
    float: right;
}
.help { 
    margin-top: 10%;
}

/* LINKS */

a { 
    color: #ca631f;
    text-decoration: none;
    transition: color 0.2s;
}
a:hover { 
    color: #152969;
    transition: color 0.2s;
}
.nav { 
    color: #6e7faa;
    text-decoration: none;
    transition: color 0.2s;
}
.nav:hover { 
    color: #152969;
    transition: color 0.2s;
}
a.o { 
    opacity: 1;
    transition: opacity 0.2s;
}
a.o:hover { 
    color: #ca631f;
    opacity: 0.9;
    transition: opacity 0.2s;
}


h3, h4 { 
    font-weight: normal;
    padding-top: 0.5rem;
}

.text { 
    font-size: 1.15rem;
}

.archive
{ 
    margin-bottom: -0.5rem;
}

.closer
{ 
    margin-bottom: 0;
}

.dotted { 
    color: #ca631f;
    text-decoration: dotted underline;
}

.dotted-plain { 
    text-decoration: dotted underline;
}

.inline { 
    display: inline-block;
}

/* GALLERY STUFF */

.gal { 
    display: inline-block;
    width: 31%;
    max-height: 300px;
    max-width: 250px;
    padding-right: 10px;
}
.gal-text { 
    text-align: center;
    padding: 0;
    margin: 0;
}


.vert { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-left: 75px;
}
.img { 
    margin-left: 75px;
}

.third { 
    width: 33.33%;
}


ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    display: inline-block;
}

li {
    display: inline-block;
    min-width: 75px;
    min-height: 20px;
}



p.small-margin { 
   margin-top: 0.3rem;
}


/* NAVIGATION */



/* PADDING */

.pad-la {
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.pad-la1 {
    padding-left: 16%;
    padding-right: 16%;
}
.pad-la0 {
    padding-left: 8%;
    padding-right: 8%;
}

.last {
    padding-bottom: 2rem;
}

/* TEXT ALIGNMENT */

.ta-left {
    text-align: left;
}
.ta-right {
    text-align: right;
}
.ta-center {
    text-align: center;
}
.ta-justify {
    text-align: justify;
}



.va-top {
    vertical-align: top;
}



.sticky {
    position: sticky;
}


/* ICONS */

.icon-godot-mono {
    background: url("../images/godot_icon_monochrome_light.svg");
    height: 1.25rem;
    width: 1.25rem;
    background-size: 1.25rem;
    filter: invert(12%) sepia(45%) saturate(4438%) hue-rotate(222deg) brightness(85%) contrast(94%);;
    display: inline-block;
}

.icon-godot-color {
    background: url("../images/godot_icon_color.svg");
    height: 1.25rem;
    width: 1.25rem;
    background-size: 1.25rem;
    display: inline-block;
}

/* VISUAL EDITS */

.hide {   
    display: none;
}

/* RESPONSIVE STUFF */


@media screen and (max-width: 610px) {
    .gal { 
        width: 50%;
    }
    .help { 
        margin-top: 4%;
    }
}

@media screen and (max-width: 560px) {
    .gal { 
        width: 100%;
        margin-left: 20%;
    }
}



/* Taken from W3Schools */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #ca631f; /* Set a background color */
    color: #eff5fa; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    height: 4rem;
    width: 4rem;
    border-radius: 2rem; /* Rounded corners */
  }
  
#myBtn:hover {
background-color: #152969; /* Add a dark-grey background on hover */
}