
:root {
  --bg: oklch(96.416% 0.00011 271.152);
  --bg-muted: oklch(86.709% 0.00883 16.714);
  --text: oklch(21.3% 0.11851 263.805);
  --text-muted: oklch(44.655% 0.0859 246.593);
  --primary: oklch(86.271% 0.19478 114.611);
  --secondary: oklch(71.442% 0.15323 71.631);
  }
  .dark {
  --bg: oklch(19.163% 0.04703 272.065);
  --bg-muted: oklch(33.003% 0.06166 245.92);
  --text: oklch(96.416% 0.00011 271.152);
  --text-muted: oklch(76.638% 0.0126 17.053);
}


* {
    font-family: monospace;
}

#mode {
    width: 150px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

header {
    background-color: var(--bg-muted); 
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 20px;
    width: 100%;
}


ul {
    padding: 0 0 0 1rem;
}
ul li {
    margin: 0 auto;
    width: 200px;
    padding: 0 1rem;
    list-style-position: outside;
    list-style: square;
}

.l {
    text-align: left;
}

.i {
    display: inline;
}
.ib {
    display: inline-block;
}

.pad {
    padding-left: 2.5rem;
}

section {
    margin-right: 2.5rem;
}

blockquote {
    border-left: 5px solid var(--primary);
    padding-left: 1rem;
    margin-left: 1rem;
}

a {
    color: var(--secondary);
}

a:hover {
    opacity: 70%;
}


h3.year {
    color: var(--secondary);
    border: 1px dotted var(--secondary);
    padding-left: 1rem;
    margin-left: -1rem;
    margin-bottom: -0.1rem;
    width: 3.6rem;
}

body {
    margin: -1rem;
    width: 100%;
    background-color: var(--bg);
    color: var(--text);
}

img {
    padding-left: 25px;
    max-height: 200px;
    width: 475px;
    object-fit: cover;
}

img.me {
    padding-left: 50px;
    width: 250px;
}

.proj {
    width: 500px;
    
}



.border {
    border: 2px solid var(--secondary);
    border-style: dashed;
}

.c {
    text-align: center;
}

.muted {
    color: var(--text-muted);
}

.desc {
    margin-top: 0;
    border-bottom: 0.1rem dashed var(--bg-muted);
    padding-bottom: 0.5rem;
    margin-bottom: 0.4rem;
    max-width: 500px;
}

.hide {
    display: none;
}

.u-dline {
    text-decoration: underline double var(--primary);
}