

html { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f7f7f7;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


header { 
    margin-bottom: 25px;
    color: #263210;
    background-color: #F2F2F2;
    margin: -15px ;
}


footer { 
    width: 100%;

    margin: 40px 0 -20px;
    padding: 30px 0 10px;

    
    text-align: center;
    font-size: 14px;

    color: #F2F2F2;
    background-color: #95a756;
}



hr { 
    border-color: #a0ae6b;
    margin: 10px -20px 10px;
}


/* LINKS */

a { 
    color: #a0ae6b;
    text-decoration: none;
}
a:hover { 
    opacity: 0.7;
}
#active { 
    color: #789329;
    text-decoration: none;
}
#active:hover { 
    opacity: 0.8;
}
a.o { 
    color: #F2F2F2;
    text-decoration: none;
}
a.o:hover { 
    color: #e4e4e4;
    text-decoration: none;
}


/* TEXT EDITS */

b { 
    color: #789329;
}

.t {
    padding-bottom: 0.2rem;
}
.pimg {
    width: 33.33%;
    float: left;
}
.pdesc {
    padding-right: 8px;
    display: inline;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    display: inline-block;
}

li {
    display: inline-block;
    padding: 6px;
}


h1,h2,h3,h4,h5,h6 { 
    color: #789329;
    margin-bottom: 0px;
}

p.small-margin { 
   margin-top: 0.3rem;
}


/* NAVIGATION */

.nav-bar-tabs {
    display: block;
    width: auto;
    min-width: 365px;
    text-align: center;
    padding-top: 1.2rem;
}


/* PADDING */

.pad-la {
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.pad-la1 {
    padding-left: 16%;
    padding-right: 16%;
}
.pad-la0 {
    padding-left: 8%;
    padding-right: 8%;
}


/* TEXT ALIGNMENT */

.ta-right {
    text-align: right;
}
.ta-center {
    text-align: center;
}
.ta-justify {
    text-align: justify;
}



.va-top {
    vertical-align: top;
}



.sticky {
    position: sticky;
}


/* ICONS */

.icon-godot {
        background: url("../images/godot_icon_monochrome_light.svg");
        height: 20px;
        width: 20px;
        background-size: 20px;
        display: block;
        /* Other styles here */
}

/* GALLERY */

.gallery {
    overflow: hidden; 
    margin: 1.5rem 0;
    padding: 0 2.5rem;
    text-align: center;
    
}
.gallery a {
    display: block;
    position: relative;
    filter: grayscale(0.3);
}
.gallery a:hover {
    opacity: 1;
    filter: grayscale(0);
}

.gallery li { 
    box-sizing: border-box; 
    float: left; 
    margin-bottom: 10px; 
    padding-right: 10px; 
    width: 33.33%; 
}

.gallery img { 
    display: block;
    width: 100%; 
}
.gallery .card { 
    background: #789329;
    box-sizing: border-box;
    color: #f2f2f2;
    font-size: 1rem;
    padding: 0.8rem 1.1rem 0.8rem;
    max-height: 50%;
    max-width: 250px;
}
.gallery b { 
    color: #f2f2f2;
    font-size: 1rem;
}

.gallery .title { 
    color: #f2f2f2;
}
.gallery .desc {   
    margin-top: .5rem;
    font-size: 0.85rem;
}


/* VISUAL EDITS */

.hide {   
    display: none;
}


/* RESPONSIVE STUFF */

@media screen and (max-width: 750px) {

    .gallery {
        margin: 1rem 0;        
    }
    .gallery .desc {     
        font-size: 0.7rem;
    }
    .pdesc {     
        font-size: 0.85rem;
    }
}


@media screen and (max-width: 620px) {
    .gallery {
        margin: 0.5rem 0;
        padding: 0 1.5rem;
        
    }

    .gallery .card { 
        padding: 0.3rem 0.55rem;
    }
    .gallery .desc {     
        display: none;
    }
    .gallery li {
        width: 50%;
    }
    
    .pdesc {     
        display: none;
    }
    
}

@media screen and (max-width: 400px) {
    .gallery {
        margin: 0;
        padding: 0 1rem;
    }
    .gallery b { 
        font-size: 0.8rem;
    }
    .gallery li {
        width: 100%;
    }

    .nav-bar-tabs {
        font-size: 14px;
        min-width: none;
        text-align: center;
        margin-left: -1.1rem;
    }
    
}