
:root {
  --bg: oklch(96.416% 0.00011 271.152);
  --bg-muted: oklch(86.709% 0.00883 16.714);
  --text: oklch(21.3% 0.11851 263.805);
  --text-muted: oklch(0.4 0.09 247);
  --primary: oklch(86.271% 0.19478 114.611);
  --secondary: oklch(71.442% 0.15323 71.631);
  }
  .dark {
  --bg: oklch(19.387% 0.06421 270.1);
  --bg-muted: oklch(30.118% 0.06955 248.177);
  --text: oklch(96.416% 0.00011 271.152);
}


* {
    font-family: monospace;
}

#mode {
    width: 150px;
}


img {
    max-height: 100%;
    max-width: 100%;
}

header {
    background-color: var(--bg-muted); 
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 20px;
    width: 100%;
}

footer {
    background-color: var(--bg-muted); 
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}


ul {
    padding: 0 0 0 1rem;
}
ul li {
    margin: 0 auto;
    width: 200px;
    padding: 0 1rem;
    list-style-position: outside;
    list-style: square;
}

.l {
    text-align: left;
}

.i {
    display: inline;
}

.pad {
    padding-left: 2.5rem;
}

blockquote {
    border-left: 5px solid var(--primary);
    padding-left: 1rem;
    margin-left: 1rem;
}

a {
    color: var(--secondary);
}

a:hover {
    opacity: 70%;
}


h3.year {
    color: var(--secondary);
    border: 1px dotted var(--secondary);
    padding-left: 1rem;
    margin-left: -1rem;
    margin-bottom: -0.1rem;
    width: 3.6rem;
}

body {
    margin: -1rem;
    width: 100%;
    background-color: var(--bg);
    color: var(--text);
}

.border {
    border: 2px solid var(--secondary);
    border-style: dashed;
}

.c {
    text-align: center;
}

.u-dline {
    text-decoration: underline double var(--primary);
}