
:root {
  --bg: oklch(98.448% 0.01137 217.998);
  --text: oklch(21.3% 0.11851 263.805);
  --text-muted: oklch(0.4 0.09 247);
  --primary: oklch(67.402% 0.14081 233.86);
  --secondary: oklch(67.605% 0.16 59.055);
  }
.dark {
  --bg: oklch(0.15 0.045 247);
  --text: oklch(96.036% 0.02836 219.119);
}



* {
  font-family: monospace;
}

header {
  margin-top: 1rem;
  vertical-align: middle;
  font-size: large;
}

footer {
  text-align: center;
  margin-bottom: 1rem;
}

h1, h2, p {
  margin: 0.2rem;
}
p {
  line-height: 1.2rem;
}

sup {
  color: var(--secondary);
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
}

hr {
  border: 2px dotted var(--text-muted);
}

body {
  margin: auto;
  width: 75%;
  background-color: var(--bg);
  color: var(--text);
}

button {
  background: none;
  border: none;
  padding: none;
  margin: none;
  font-size: large;
  color: var(--primary);
}

button:hover {
  color: var(--secondary);
}

.pfp {
  width: 100%;
  max-height: 20vw;
  object-fit: cover;
}

.preview {
  width: 32%;
  margin-right: 1.5%;
  object-fit: cover;
  padding: 0.2rem 0;
}
.preview-text {
  max-width: 66%;
}

.jam {
  width: 16%;
  margin-right: 0.75%;
  object-fit: cover;
  padding: 0.2rem 0;
}
.jam-text {
  max-width: 33%;
}

.links{
  padding: 0.3rem 0 0;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.full-width {
  width: 100vw;
}

.navflex {
  display: flex;
}

.flex {
  display: flex;
}

.secondary {
  color: var(--secondary);
}

@media screen and (max-width: 750px) {
  header {
  font-size: larger;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
  
  .preview {
    width: 100%;
    max-height: 12vw;
    margin-top: 2%;
  }

  .preview-text {
    max-width: 100%;
  }
  .jam {
    width: 100%;
    max-height: 12vw;
    margin-top: 2%;
  }
  .jam-text {
    max-width: 100%;
  }

}

.f-dir-down {
  flex-direction: column;
}
.f-dir-left {
  flex-direction: row-reverse;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}


