
:root {
  --bg: oklch(96.416% 0.00011 271.152);
  --text: oklch(21.3% 0.11851 263.805);
  --text-muted: oklch(0.4 0.09 247);
  --primary: oklch(67.402% 0.14081 233.86);
  --secondary: oklch(67.605% 0.16 59.055);
  }

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    max-height: 100%;
    max-width: 100%;
}

ul {
    padding: 0 0 0 1rem;
}
ul li {
    margin: 0 auto;
    width: 200px;
    padding: 0 1rem;
    list-style-position: outside;
    list-style: square;
}

.l {
    text-align: left;
}

.ib {
    display: inline-block;
}

.pad {
    padding-left: 2rem;
}

body {
    width: 100%;

}

.fish {
    font-size: xxx-large;
    margin: 0;
}

.fish-eye {
    font-size: xxx-large;
    margin: -1rem 0 -2rem;
}

.me {
    margin-left: 3rem;
}

@media only screen and (max-width: 950px) {

.me {
    margin-left: 1.5rem;
}
  .fish {
    font-size: x-large;
    margin: 0;
    }

.fish-eye {
    font-size: x-large;
    margin: -1rem 0 -1rem;
    }
}

.border {
    border: 2px solid var(--secondary);
    border-style: dashed;
}

.c {
    text-align: center;
}

.u-dline {
    text-decoration: underline double forestgreen;
}

.pink {
    color: hotpink;
}

.green {
    color: forestgreen;
}