<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ca96bcb3ee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/alt.css"> 
    <title>Viktor Asprot | Game Development Student</title>
</head>

<header>
    <div class="container head">
        <div class="float-l">
            <img src="/work/img/bubbleinvaders/promo004.png" style="height: 150px;">
            <p style="color: #6b7faa;" class="gal-text"><sub>viktor asprot | programmer, illustrator</sub></p>
        </div>
                    
        <div class="float-r help">
            <ul class="no-bullets">
                <li>
                    <a href="/index.html" class="nav">HOME</a>
                </li>
                <li>
                    <a href="/work/index.html" class="nav">WORK</a>
                </li>
                <li>
                    <a href="/about/index.html" class="nav">ABOUT</a>
                </li>
                <li>
                    <a href="/archive/index.html" class="nav">ARCHIVE</a>
                </li>
            </ul>
        </div>
                    
                
    </div>
  
</header>

<!-- this is horrible code, haha. oh well. it works, so whatever :P -->

<body>

    <div class="container">
        <p>i forget</p>
    </div>

    <div class="container">
        <div class="gal">
            <a href="" class="o">
                <img src="/images/cat-kiss.gif" alt="">
                <p class="gal-text"><sub>YEAH</sub></p>
            </a>
        </div>
    </div>
    
</body>

</html>