<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ca96bcb3ee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/alt.css">

    <script src="/scripts/script.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Chivo' rel='stylesheet'>
    <style> body { font-family: 'Chivo';font-size: 22px; } </style>

    <title>Viktor Asprot | Game Development Student</title>
</head>


<header>

    <div class="container head">

        <div class="float-l">
            <img src="/images/meeb.png" style="height: 150px; width: 150px;">
            <p style="color: #6b7faa; " class="gal-text" >
                <sub>
                    viktor asprot | programmer  
                    <a href="https://www.linkedin.com/in/viktor-asprot/">
                    <i class="fa-brands fa-linkedin" style="font-size: 24px;"></i></a>
                </sub>
            </p>
        </div>
                    
        <div class="float-r help">
            <ul>
                <li>
                    <a href="/" class="nav">HOME</a>
                </li>
                <li>
                    <a href="/work/" class="nav">WORK</a>
                </li>
                <li>
                    <a href="/about/" class="nav">ABOUT</a>
                </li>
                <li>
                    <a href="/archive/" class="">ARCHIVE</a>
                </li>
            </ul>
        </div>
                
    </div>
  
</header>


<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up" style="font-size: 24px;"></i></button> 
    
    <div class="container">

        <h3>TITLE</h3>

        <div class="vert">
            <img src="/work/img/bubbleinvaders/promo002.png" alt="">
            <img src="/work/img/bubbleinvaders/promo002.png" alt="">
            <img src="/work/img/bubbleinvaders/promo002.png" alt="">
        </div>

        <table style="width: 100%; margin-top: 1rem;">
            <tbody>
                <tr>
                    <td style="width: 50%;" class="text"> 
                        <i class="fa-brands fa-unity"></i> Engine &ensp; 
                        <i class="fa-solid fa-user-group"></i> Team Size &ensp; 
                        <i class="fa-solid fa-clock"></i> Time frame
                    </td>
                    <td class="ta-right text"  style="width: 50%;">
                        <a href="LINK HERE" class="dotted">itch.io page</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="container">

        <h4>SUBTITLE</h4>
        <p class="text"></p>

        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td class="third">lorem</td>
                    <td class="third">ipsum</td>
                    <td class="third">dolor</td>
                </tr>
                <tr>
                    <td class="text">
                        - sit
                    </td>
                    <td class="text">
                        - amet,
                    </td>
                    <td class="text">
                        - consectetur
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="container last">

        <h4>SUBTITLE</h4>
        <p class="text">adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    
        <div class="img"> 
            <img src="/images/cat-kiss.gif" alt="">
            <img src="/images/IMG_2686.GIF" alt="">
        </div>

    </div>
        
    
</body>


</html>